header {
  background-color: cornflowerblue;
  color: white;
  font-weight: 700;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0 0 10px 10px;

  display: flex;
  align-items: center;

  h3 {
    flex-grow: 1;
    text-align: start;
  }

  nav {
    ul {
      display: flex;
      gap: 2rem;

      list-style: none;

      li {
        cursor: pointer;
      }
    }
  }
}
