#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

button {
  min-width: 300px;
  font-size: 2rem;
  background-color: hotpink;
}

p.like-text {
  background-color: coral;
}

.container {
  display: flex;
  gap: 1rem;
}

.container {
  display: flex;
  gap: 1rem;
}
